.contenitorenews{
    width: 80%;
    height: auto;
    margin: 5% auto;
    position:relative;
    overflow: hidden;
}

.contenitoreimmagine{
    float: left;
    width: 20%;
    height: auto;
	position:relative;
}

.contenitoreimmagine img{
    width: 100%;
    height: auto;
}


.contenitoretitolo{
    float: right;
    width: 80%;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
}

.contenitoretitolo h2{
    background: white;
    width: 100%;
    text-align: center-left;
    padding: 0 5px 5px 5px ;
    position: absolute;
    top: 0;
}


.contenitoretitolosingola h2{
    background: white;
    width: 90%;
    text-align: right;
    padding: 0 5px 5px 5px ;
    position: absolute;
    top: 0;
}

.descrizione {
	text-align: justify;
    float: right;
    width: 100%;
    height: auto;
    

}


.descrizionesingola {
    float: right;
    width: 100%;
    height: auto;
    margin-inside: 10px;
}






